@inject HttpClient _client
@namespace Pureminds.Client.Components
<EditForm Model="@Source" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-red-500 mb-4" />

    <div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
        @if (isFormLoaded)
        {
            <div class="bg-[#0F172A] text-white rounded-lg shadow-lg p-8 w-[600px]">
                <h2 class="text-2xl font-bold mb-6 text-center">@Title</h2>

                <div class="grid grid-cols-2 gap-6">
                    <div>
                        <label for="productTitle" class="block text-sm font-medium text-gray-300">Product Title</label>
                        <InputText id="productTitle"
                                   disabled="@isDisabled"
                                   class="w-full border border-gray-700 bg-[#1E293B] text-white rounded py-2 px-3 focus:outline-none focus:ring focus:ring-blue-500"
                                   @bind-Value="Source.ProductTitle" />
                        <ValidationMessage For="() => Source.ProductTitle" class="text-red-500 text-sm mt-1" />
                    </div>

                    <div>
                        <label for="notes" class="block text-sm font-medium text-gray-300">Description</label>
                        <InputTextArea id="notes"
                                       disabled="@isDisabled"
                                       class="w-full border border-gray-700 bg-[#1E293B] text-white rounded py-2 px-3 focus:outline-none focus:ring focus:ring-blue-500"
                                       @bind-Value="Source.Description" />
                        <ValidationMessage For="() => Source.Description" class="text-red-500 text-sm mt-1" />
                    </div>
                </div>
                @if (Source.ProductAttachments is not null)
                {
                    <div class="flex gap-2 justify-between p-2">
                        <label for="notes" class="block text-sm font-medium text-gray-300">@Source.ProductAttachments.First().Attachment.AttachmentAttribute</label>
                        <InputFile accept=".jpg,.jpeg,.png,.pdf" id="attachment2" class="form-control" OnChange="@(e => HandleFileUpload(e , 0))" />
                    </div>

                }
                <div class="mt-6 text-right">
                    @if (OperationType != OperationType.Info)
                    {
                        <button type="submit"
                                class="bg-blue-500 text-white py-2 px-6 rounded hover:bg-blue-600 transition">
                            Save
                        </button>
                    }
                    <button type="button"
                            @onclick="OnCancel"
                            class="ml-3 bg-gray-500 text-white py-2 px-6 rounded hover:bg-gray-600 transition">
                        Cancel
                    </button>
                </div>
            </div>
        }
        else
        {
            <ContentLoading />
        }
    </div>
</EditForm>

